repos:
  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        entry: shfmt -w .
        language: system
        files: "\.(sh|bash)$"
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
